# Java
*.class
*.log
*.ctxt
.mtj.tmp/
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Gradle
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar

# IntelliJ
.idea/
*.iml
*.iws
*.ipr

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Frontend Build
frontend/build/
frontend/.npm-cache/
frontend/.env
frontend/.env.*
!frontend/.env.example
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

# Environment variables
.env
.env.*
!.env.example

# OS
.DS_Store
Thumbs.db

# Kafka Streams
/tmp/kafka-streams/
backend/kafka-streams-state/
